body {
  font-family: Tahoma;
  background-color: rgb(224, 213, 192);
}

a {
  text-align: center;
  font-weight: 600;
  color: rgb(37, 37, 37)
}

.home {
  color: black;
  font-size: 20px;
}

ul li,
p,
ol li {
  text-align: left;
  color: rgb(68, 67, 67);
}

.description,
.ingredients,
.steps,
h1 {
  color: rgb(37, 37, 37);
}

.chicken-wings {
  width: 300px;
  height: auto;
}